@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: #fafafa;
    overflow-y: hidden;
}
.titulo h1{
    color:#3175BA ;
    text-align: center;
    margin-top: 3%;
    font-size: 25px;
}
.tabla{
    border-radius: 10px;
    margin-top: 2%;
    overflow: auto;
    height: 400px;
}
.tabla-lista{
    width: 88%;   
    border-spacing:0 ;
}

.tabla thead th{
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}
.tabla::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.3);
    width: 5px;
    border-radius: 10px;
}

.tabla::-webkit-scrollbar-thumb {
    background: #3175BA;
    border-radius: 10px
}

td,th {
    padding: 15px 20px;
    text-align: center;

}
.tabla-body{
    height: 100px;
    overflow: auto;
}

th {
    background-color: #3175BA;
    color: #fafafa;
    font-weight: 200;
    text-transform: uppercase;
}

tr{
    background-color: #ececec;
}

tr:nth-child(even) {
    background-color: #ffff;
}
tr td a i{
    color: #3175BA;
    font-size: 30px;
    text-align: center;
}
tr td a i:hover {
    transform: scale(1.2);
}
.proximamente h4{
    text-transform: uppercase;
    color: #3175BA;
}